<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Brand</td>
            <td>Colorway</td>
            <td>Length</td>
            <td>Weight</td>
            <td>Qty</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row["br"] }}</td>
               <td>{{ row["color"] }}</td>
               <td>{{ row["ln"] }}</td>
               <td>{{ row["wt"] }}</td>	
               <td>{{ row["qty"] }}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>

